# Input and Outputs
**NOTE: Typically we will just be either reading csv files directly or using pandas_datareader to pull data from the web.Consider this lecture just a quick overview of what is possible with pandas (We won't be working wit SQL or Excel files in this course)**

## Data Input and Outut 
This noteook is the referance code for getting input and output,pandas can read variety of file types using pandas.read_methodes.Let's take a look at this common types.

In [1]:
import pandas as pd
import numpy as np

## Check out the referance here!
**This is the best online resourse for how to read/write to a variety of data sourse!

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></td>
<td><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

______
______

In [2]:
conda insatll xlrd

Note: you may need to restart the kernel to use updated packages.

CommandNotFoundError: No command 'conda insatll'.
Did you mean 'conda install'?

In [3]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\dell\anaconda3\lib\site-packages (2.0.1)

In [4]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dell\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\dell\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
pwd

'C:\\Users\\DELL\\Udemy classes\\Python For ML\\ML Practice notes'

In [6]:
# List of Directories in current directory with ls

In [7]:
ls

 Volume in drive C is SSD
 Volume Serial Number is 6A05-E850

 Directory of C:\Users\DELL\Udemy classes\Python For ML\ML Practice notes

27-01-2023  17:20    <DIR>          .
27-01-2023  17:20    <DIR>          ..
11-01-2023  23:04    <DIR>          .ipynb_checkpoints
01-01-2023  21:59            68,864 Combining of Data Frames.ipynb
19-01-2023  16:37             5,512 Excample.xlsx
21-12-2022  22:10            93,520 Groupby Operations.ipynb
27-01-2023  17:20           122,967 INPUT_&_OUT PUTS IN PANDAS.READ.ipynb
20-12-2022  20:47            99,611 Missing Data.ipynb
11-01-2023  23:42                51 new_file.csv
14-12-2022  20:23         1,106,735 Pandas Class Practice.ipynb
19-12-2022  21:11           274,345 Pandas Conditions,Methods Practice 01.ipynb
03-01-2023  21:15            39,660 text Methods and Strings.ipynb
10-01-2023  22:38           114,896 Time Methods in Pandas.ipynb
11-01-2023  23:45               555 try_HTML.html
19-01-2023  07:38             2,070 Word_Pop_Rank.html
              12 File(s)      1,928,786 bytes
               3 Dir(s)  175,587,872,768 bytes free

------

**NOTE: Common confusion point! Take note that all read iput methods are called directly from pandas with pd.resd_,all output methods are called directly off the dataframe with df.to__**

--------

In [8]:
import  os

In [9]:
os.listdir('C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas')

['.ipynb_checkpoints',
 '00-Series.ipynb',
 '01-DataFrames.ipynb',
 '02-Conditional-Filtering.ipynb',
 '03-Useful-Methods.ipynb',
 '04-Missing-Data.ipynb',
 '05-Groupby-Operations-and-MultiIndex.ipynb',
 '06-Combining-DataFrames.ipynb',
 '07-Text-Methods.ipynb',
 '08-Time-Methods.ipynb',
 '09-Inputs-and-Outputs.ipynb',
 '10-Pivot-Tables.ipynb',
 '11-Pandas-Project-Exercise .ipynb',
 '12-Pandas-Project-Exercise-Solution.ipynb',
 'example.csv',
 'example.xlsx',
 'hotel_booking_data.csv',
 'movie_scores.csv',
 'mpg.csv',
 'my_excel_file.xlsx',
 'newfile.csv',
 'new_file.csv',
 'new_workbook.xlsx',
 'reshaping_pivot.png',
 'RetailSales_BeerWineLiquor.csv',
 'Sales_Funnel_CRM.csv',
 'sample_table.html',
 'simple.html',
 'tips.csv',
 '__pycache__']

In [10]:
pwd

'C:\\Users\\DELL\\Udemy classes\\Python For ML\\ML Practice notes'

In [11]:
file = 'C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\example.csv'

In [12]:
pd.read_csv(file)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
df = pd.read_csv(file,index_col=0)

In [14]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [15]:
df = pd.read_csv(file)
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [16]:
df.to_csv('new_file.csv',index = False)

In [17]:
pd.read_csv('new_file.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [18]:
pwd

'C:\\Users\\DELL\\Udemy classes\\Python For ML\\ML Practice notes'

In [19]:
ls

 Volume in drive C is SSD
 Volume Serial Number is 6A05-E850

 Directory of C:\Users\DELL\Udemy classes\Python For ML\ML Practice notes

27-01-2023  17:20    <DIR>          .
27-01-2023  17:20    <DIR>          ..
11-01-2023  23:04    <DIR>          .ipynb_checkpoints
01-01-2023  21:59            68,864 Combining of Data Frames.ipynb
19-01-2023  16:37             5,512 Excample.xlsx
21-12-2022  22:10            93,520 Groupby Operations.ipynb
27-01-2023  17:20           122,967 INPUT_&_OUT PUTS IN PANDAS.READ.ipynb
20-12-2022  20:47            99,611 Missing Data.ipynb
27-01-2023  17:20                51 new_file.csv
14-12-2022  20:23         1,106,735 Pandas Class Practice.ipynb
19-12-2022  21:11           274,345 Pandas Conditions,Methods Practice 01.ipynb
03-01-2023  21:15            39,660 text Methods and Strings.ipynb
10-01-2023  22:38           114,896 Time Methods in Pandas.ipynb
11-01-2023  23:45               555 try_HTML.html
19-01-2023  07:38             2,070 Word_Pop_Rank.html
              12 File(s)      1,928,786 bytes
               3 Dir(s)  175,587,348,480 bytes free

In [20]:
df.to_html('try_HTML.html',index =False)

In [21]:
pd.read_html('try_HTML.html')

[    a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15]

In [22]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [23]:
import pandas as pd

In [24]:
len(tables)

24

### Not Useful Tables
Pandas found 24 tables on that page.Some are not useful.

In [25]:
tables[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1930,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",126,30,14,13,12,12,11,15,20

## Table that need formatting

Some will be nisaligned,meaning you need to do exstra work to fix the columns and rows

In [26]:
## This is one type of table tht we need to do some work with it fix the tablein crrect format.
tables[1]

,#,Most populous countries,2000,2015,2030[A]
0,1,China[B],1270,1376,1416
1,2,India,1053,1311,1528
2,3,United States,283,322,356
3,4,Indonesia,212,258,295
4,5,Pakistan,136,208,245
5,6,Brazil,176,206,228
6,7,Nigeria,123,182,263
7,8,Bangladesh,131,161,186
8,9,Russia,146,146,149
9,10,Mexico,103,127,148
10,NaN,World total,6127,7349,8501
11,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [27]:
World_pop=tables[1]
World_pop.columns

Index(['#', 'Most populous countries', '2000', '2015', '2030[A]'], dtype='object')

In [28]:
World_pop=World_pop.drop('#',axis=1)
World_pop = World_pop.drop(11,axis=0)

In [29]:
# Filtering through columns
World_pop

   Most populous countries  2000  2015 2030[A]
0                 China[B]  1270  1376    1416
1                    India  1053  1311    1528
2            United States   283   322     356
3                Indonesia   212   258     295
4                 Pakistan   136   208     245
5                   Brazil   176   206     228
6                  Nigeria   123   182     263
7               Bangladesh   131   161     186
8                   Russia   146   146     149
9                   Mexico   103   127     148
10             World total  6127  7349    8501

## Tables that are intact

In [30]:
Rank_pop = tables[3]

In [31]:
Rank_pop

,Rank,Country / Dependency,Population,Percentage of the world,Date,Source (official or from the United Nations)
0,1,China,1412600000,NaN,31 Dec 2021,National annual estimate[93]
1,2,India,1373761000,NaN,1 Mar 2022,Annual national estimate[94]
2,3,United States,333601028,NaN,26 Jan 2023,National population clock[95]
3,4,Indonesia,275773800,NaN,1 Jul 2022,National annual estimate[96]
4,5,Pakistan,229488994,NaN,1 Jul 2022,UN projection[97]
5,6,Nigeria,216746934,NaN,1 Jul 2022,UN projection[97]
6,7,Brazil,215693425,NaN,26 Jan 2023,National population clock[98]
7,8,Bangladesh,168220000,NaN,1 Jul 2020,Annual Population Estimate[99]
8,9,Russia,147190000,NaN,1 Oct 2021,2021 preliminary census results[100]
9,10,Mexico,128271248,NaN,31 Mar 2022,National quarterly estimate[101]

In [32]:
Rank_pop['Population'][0]-Rank_pop['Population'][1]

38839000

In [33]:
sum(Rank_pop['Population'])

4501346429

In [34]:
len('4501275284')

10

In [35]:
(1412600000/sum(Rank_pop['Population']))*100

31.38172149780121

In [36]:
(Rank_pop['Population'][1]/sum(Rank_pop['Population']))*100

30.518890773425518

## Write to html Output

if you are writing in awebsite and want to quickly output the html file,you can yse to_html

In [37]:
df = Rank_pop
df.to_html('Word_Pop_Rank.html',index = False)

In [38]:
pd.read_html('Word_Pop_Rank.html')

[   Rank Country / Dependency  Population  Percentage of the world  \
 0     1                China  1412600000                      NaN
 1     2                India  1373761000                      NaN
 2     3        United States   333601028                      NaN
 3     4            Indonesia   275773800                      NaN
 4     5             Pakistan   229488994                      NaN
 5     6              Nigeria   216746934                      NaN
 6     7               Brazil   215693425                      NaN
 7     8           Bangladesh   168220000                      NaN
 8     9               Russia   147190000                      NaN
 9    10               Mexico   128271248                      NaN

           Date Source (official or from the United Nations)
 0  31 Dec 2021                 National annual estimate[93]
 1   1 Mar 2022                 Annual national estimate[94]
 2  26 Jan 2023                National population clock[95]
 3   1 Jul 2022                 National annual estimate[96]
 4   1 Jul 2022                            UN projection[97]
 5   1 Jul 2022                            UN projection[97]
 6  26 Jan 2023                National population clock[98]
 7   1 Jul 2020               Annual Population Estimate[99]
 8   1 Oct 2021         2021 preliminary census results[100]
 9  31 Mar 2022             National quarterly estimate[101]  ]

**NOTE**
**read_html** is not perfect,but its quite powerful for such a simple method call

### Excel Files

-----------

Pandas can read in basic excel files(it will get errors if there are macros or extensive formulas relying on outside excel files),in general,pandas can only grab the raw information from an excel file.

**NOTE:Requires the openpxl and xlrd library! Its provideed for oandas means each sheet can be install with:**

             pip install openpyxl
             pip install xlrd
Heavy excel users may want to check out this website: https://www.python_excel.org/

  You can think of an excel file as a workbook containin sheets,which for pandas means each sheet can be a DataFrame.

In [39]:
import pandas as pd

In [40]:

EXCEL_File = 'C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\my_excel_file.xlsx'

In [41]:
df = pd.read_excel('C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\my_excel_file.xlsx',sheet_name ='First_Sheet')

In [42]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### What if you don't know the sheet name? Or want to run a for loop for certain sheet names? Or want every sheet?

Several ways to do this: https://stackoverflow.com/questions/17977540/pandas-looking-up-the-list-of-sheets-in-an-excel-file

In [43]:
pd.ExcelFile(EXCEL_File).sheet_names

['First_Sheet']

### Grab all sheets

In [44]:
excel_sheets = pd.read_excel('C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\my_excel_file.xlsx',sheet_name =None)

In [45]:
type(excel_sheets)

dict

In [46]:
excel_sheets.keys()

dict_keys(['First_Sheet'])

In [47]:
excel_sheets['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Write to Excel File

In [48]:
df.to_excel("Excample.xlsx",sheet_name ='First_name',index = False)

In [49]:
bloack_chain = pd.read_html('https://en.wikipedia.org/wiki/Blockchain')

In [50]:
len(bloack_chain)

8

In [51]:
bloack_chain[0]

,External video,External video.1
0,"Blockchain Basics & Cryptography, Gary Gensler...","Blockchain Basics & Cryptography, Gary Gensler..."

In [52]:
bloack_chain[1]

    Authority control                                Authority control.1
0  National libraries  France (data) Israel United States Czech Republic
1               Other                                               FAST

In [53]:
bloack_chain[2]

,".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteCryptocurrencies",".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteCryptocurrencies.1"
0,Technology,Blockchain Cryptocurrency tumbler Cryptocurren...
1,Consensus mechanisms,Proof of authority Proof of personhood Proof o...
2,Proof of work currencies,SHA-256-based Bitcoin Bitcoin Cash Counterpart...
3,SHA-256-based,Bitcoin Bitcoin Cash Counterparty LBRY MazaCoi...
4,Ethash-based,Ethereum (1.0) Ethereum Classic
5,Scrypt-based,Auroracoin Bitconnect Coinye Dogecoin Litecoin
6,Equihash-based,Bitcoin Gold Zcash
7,RandomX-based,Monero
8,X11-based,Dash Petro
9,Other,AmbaCoin Firo IOTA Nervos Network Primecoin Ve...
10,Proof of stake currencies,Algorand Avalanche Cardano EOS.IO Ethereum (2....
11,ERC-20 tokens,Augur Aventus Basic Attention Token Chainlink ...
12,Stablecoins,Dai Diem Pax Tether USD Coin
13,Other currencies,Chia Filecoin HBAR (Hashgraph) Helium MobileCo...
14,Inactive currencies,BitConnect Coinye KodakCoin OneCoin Petro
15,Cryptocurrency exchanges,Abra Binance Bitfinex bitFlyer Bitkub Bitpanda...
16,Defunct,BTC-e FTX Bankruptcy of Mt. Gox QuadrigaCX Thodex
17,Related topics,Airdrop BitLicense Blockchain game CertiK Comp...
18,Category Commons List,Category Commons List

In [54]:
bloack_chain[3]

                0                                                  1
0   SHA-256-based  Bitcoin Bitcoin Cash Counterparty LBRY MazaCoi...
1    Ethash-based                    Ethereum (1.0) Ethereum Classic
2    Scrypt-based     Auroracoin Bitconnect Coinye Dogecoin Litecoin
3  Equihash-based                                 Bitcoin Gold Zcash
4   RandomX-based                                             Monero
5       X11-based                                         Dash Petro
6           Other  AmbaCoin Firo IOTA Nervos Network Primecoin Ve...

In [55]:
bloack_chain[4]

         0                                                  1
0  Defunct  BTC-e FTX Bankruptcy of Mt. Gox QuadrigaCX Thodex

In [56]:
bloack_chain[5]

,vteBitcoin,vteBitcoin.1
0,History Economics Legal status,History Economics Legal status
1,People,Gavin Andresen Andreas Antonopoulos Brian Arms...
2,Lists,List of bitcoin companies List of bitcoin fork...
3,Technologies,Bitcoin network Blockchain Cryptocurrency Cryp...
4,Forks,Client Bitcoin Unlimited Currency Bitcoin Cash...
5,Client,Bitcoin Unlimited
6,Currency,Bitcoin Cash Bitcoin Gold
7,History,Bitcoin scalability problem History of bitcoin...
8,Movies,The Rise and Rise of Bitcoin (2014 film) Deep ...
9,Legal entities(not exchanges),Bitcoin Foundation Bitcoin Magazine BitGo Bitm...
10,Bitcoin in El Salvador,Bitcoin Law
11,Category Commons,Category Commons

In [57]:
bloack_chain[6]

          0                          1
0    Client          Bitcoin Unlimited
1  Currency  Bitcoin Cash Bitcoin Gold

In [58]:
bloack_chain[7]

,vteDatabase management systems,vteDatabase management systems.1
0,Types,Object-oriented comparison Relational list com...
1,Concepts,Database ACID Armstrong's axioms Codd's 12 rul...
2,Objects,Relation table column row View Transaction Tra...
3,Components,Concurrency control Data dictionary JDBC XQJ O...
4,Functions,Administration Query optimization Replication ...
5,Related topics,Database models Database normalization Databas...
6,Category Outline WikiProject,Category Outline WikiProject

# SQL Connections

#### NOTE: Highly recommend you explore specific libraries for your specific SQL Engine. Simple search for your database+python in Google and the top results should hopefully include an API.

* [MySQL](https://www.google.com/search?q=mysql+python)
* [PostgreSQL](https://www.google.com/search?q=postgresql+python)
* [MS SQL Server](https://www.google.com/search?q=MSSQLserver+python)
* [Orcale](https://www.google.com/search?q=oracle+python)
* [MongoDB](https://www.google.com/search?q=mongodb+python)

Let's review pandas capabilities by using SQLite, which comes built in with Python.

## Example SQL Database (temporary in your RAM)

You will need to install sqlalchemy with:

    pip install sqlalchemy
    
to follow along. To understand how to make a connection to your own database, make sure to review: https://docs.sqlalchemy.org/en/13/core/connections.html

In [59]:
from sqlalchemy import create_engine

In [68]:
temp_db = create_engine('sqlite:///:memory:')

In [69]:
tables[5]

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend[citation needed]
0,1,India,1389637446,3287263,423,Growing
1,2,Pakistan,242923845,796095,305,Rapidly growing
2,3,Bangladesh,165650475,148460,1116,Rapidly growing
3,4,Japan,124214766,377915,329,Declining[104]
4,5,Philippines,114597229,300000,382,Growing
5,6,Vietnam,103808319,331210,313,Growing
6,7,United Kingdom,67791400,243610,278,Growing
7,8,South Korea,51844834,99720,520,Steady
8,9,Taiwan,23580712,35980,655,Steady
9,10,Sri Lanka,23187516,65610,353,Growing

In [71]:
pop = tables[5]
pop.to_sql(name='populations',con=temp_db)

10

In [73]:
# Read in an entire table
pd.read_sql(sql='populations',con=temp_db)

,index,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend[citation needed]
0,0,1,India,1389637446,3287263,423,Growing
1,1,2,Pakistan,242923845,796095,305,Rapidly growing
2,2,3,Bangladesh,165650475,148460,1116,Rapidly growing
3,3,4,Japan,124214766,377915,329,Declining[104]
4,4,5,Philippines,114597229,300000,382,Growing
5,5,6,Vietnam,103808319,331210,313,Growing
6,6,7,United Kingdom,67791400,243610,278,Growing
7,7,8,South Korea,51844834,99720,520,Steady
8,8,9,Taiwan,23580712,35980,655,Steady
9,9,10,Sri Lanka,23187516,65610,353,Growing

In [89]:
# Read in with a SQL Query
pd.read_sql_query(sql="SELECT  Rank,Country FROM populations ",con=temp_db)

   Rank         Country
0     1           India
1     2        Pakistan
2     3      Bangladesh
3     4           Japan
4     5     Philippines
5     6         Vietnam
6     7  United Kingdom
7     8     South Korea
8     9          Taiwan
9    10       Sri Lanka

In [90]:
pd.read_sql_query(sql="SELECT Country FROM populations",con=temp_db)

          Country
0           India
1        Pakistan
2      Bangladesh
3           Japan
4     Philippines
5         Vietnam
6  United Kingdom
7     South Korea
8          Taiwan
9       Sri Lanka

 ________________________________________________________________ 

It is difficult to generalize pandas and SQL, due to a wide array of issues, including permissions,security, online access, varying SQL engines, etc... Use these ideas as a starting off point, and you will most likely need to do your own research for your own situation.

 ------------------