# Time Methods Pandas

## Python Datetime Review 
Basic Python outside of Pandas conains a Datetime library.

In [1]:
from datetime import datetime

In [2]:
print(datetime.today())

2023-01-10 22:12:06.366822

In [3]:
# To illustrate the order of arguments 
my_year = 2023
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [4]:
# January 1st , 2023.
my_date = datetime(my_year,my_month,my_day)

In [5]:
my_date

datetime.datetime(2023, 1, 2, 0, 0)

In [6]:
print(my_date)

2023-01-02 00:00:00

In [7]:
# January 1st ,2023 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [8]:
my_date_time

datetime.datetime(2023, 1, 2, 13, 30, 15)

In [9]:
print(my_date_time)

2023-01-02 13:30:15

In [10]:
my_date_time.day

2

In [11]:
my_date_time.hour

13

In [12]:
My_DOB = datetime(1998,12,8,11,30,45)

In [13]:
print(My_DOB)

1998-12-08 11:30:45

In [14]:
My_DOB.day

8

In [15]:
My_DOB.year

1998

In [16]:
My_DOB.month

12

In [17]:
My_DOB.hour

11

In [18]:
My_DOB.minute

30

In [19]:
My_DOB.second

45

## Pandas

## Coverting to datetime

Often when data sets are stored,the time component may be a string.Pandas easily converts strings to datetime objects.

In [20]:
import pandas as pd

In [21]:
Series = pd.Series(['Dec 8 1998','2000-2-28',None])

In [22]:
Series

0    Dec 8 1998
1     2000-2-28
2          None
dtype: object

In [23]:
Series[0]

'Dec 8 1998'

In [24]:
Series[1]

'2000-2-28'

## pd.to_datetime(  )

In [25]:
pd.to_datetime(['2000/2/29','1998/12/8','1999/3/21'])

DatetimeIndex(['2000-02-29', '1998-12-08', '1999-03-21'], dtype='datetime64[ns]', freq=None)

In [26]:
pd.to_datetime(['05-1-1994 10:00'],dayfirst=True)

DatetimeIndex(['1994-01-05 10:00:00'], dtype='datetime64[ns]', freq=None)

In [27]:
a = pd.to_datetime(['2000/2/12 21:00','05-1-1994 10:00'],dayfirst=True)

In [28]:
print(a)

DatetimeIndex(['2000-02-12 21:00:00', '1994-01-05 10:00:00'], dtype='datetime64[ns]', freq=None)

**Warning:**
You see in the above example that dayfirst isn’t strict. If a date can’t be parsed with the day being first it will be parsed as if dayfirst were False, and in the case of parsing delimited date strings (e.g. 31-12-2012) then a warning will also be raised.

In [29]:
pd.to_datetime(['12/4/2019 20:20'],dayfirst= True)

DatetimeIndex(['2019-04-12 20:20:00'], dtype='datetime64[ns]', freq=None)

If you pass a single string to **to_datetime**, it returns a single **Timestamp.Timestamp** can also accept string input, but it doesn’t accept string parsing options like **dayfirst** or **format**, so use **to_datetime** if these are required.

pd.to_datetime("2010/11

In [30]:
pd.to_datetime('2010/11/12')

Timestamp('2010-11-12 00:00:00')

In [31]:
pd.to_datetime('1/22/2000 10:11:1')

Timestamp('2000-01-22 10:11:01')

In [32]:
pd.Timestamp('2000/2/29')

Timestamp('2000-02-29 00:00:00')

In [33]:
pd.DatetimeIndex(['2010/11/12','2012-12-31','2017-03-21'],freq='infer')

DatetimeIndex(['2010-11-12', '2012-12-31', '2017-03-21'], dtype='datetime64[ns]', freq=None)

## Custom Time String Formatting

sometimes dates can have a non standard format ,luckily you can always specify to pandas the format.you sholud also note this could speed up the conversion ,so it may be worth doig even if pandas can parse on its ow.

A full table of codes can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [34]:
Style_date = '12--Dec--1998'

In [35]:
pd.to_datetime(Style_date,format = '%d--%b--%Y')

Timestamp('1998-12-12 00:00:00')

In [36]:
pd.to_datetime('18th of Jan 2023')

Timestamp('2023-01-18 00:00:00')

## Data

Retail Sales: Beer, Wine, and Liquor Stores

Units:  Millions of Dollars, Not Seasonally Adjusted

Frequency:  Monthly


U.S. Census Bureau, Retail Sales: Beer, Wine, and Liquor Stores [MRTSSM4453USN], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/MRTSSM4453USN, July 2, 2020.

In [39]:

import os

In [40]:
os.listdir('C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\RetailSales_BeerWineLiquor.csv')

NotADirectoryError: [WinError 267] The directory name is invalid: 'C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\RetailSales_BeerWineLiquor.csv'

In [41]:
pwd()

'C:\\Users\\DELL\\Udemy classes\\Python For ML\\ML Practice notes'

In [42]:
CSV_data = 'C:\\Users\\DELL\\Udemy classes\\UNZIP_FOR_NOTEBOOKS_FINAL\\03-Pandas\\RetailSales_BeerWineLiquor.csv'

In [43]:
Sales = pd.read_csv(CSV_data)

In [44]:
Sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [45]:
Sales.iloc[0]['DATE']

'1992-01-01'

In [46]:
type(Sales.iloc[0]['DATE'])

str

In [47]:
Sales['DATE']=pd.to_datetime(Sales['DATE'])

In [48]:
 Sales[['DATE']]

          DATE
0   1992-01-01
1   1992-02-01
2   1992-03-01
3   1992-04-01
4   1992-05-01
..         ...
335 2019-12-01
336 2020-01-01
337 2020-02-01
338 2020-03-01
339 2020-04-01

[340 rows x 1 columns]

In [49]:
Sales.iloc[0]['DATE']

Timestamp('1992-01-01 00:00:00')

In [50]:
Sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [51]:
type(Sales.iloc[0]['DATE'])

pandas._libs.tslibs.timestamps.Timestamp

## Resample


A common operation with time series data is resampling based on the time series index. Let's see how to use the resample() method. [[reference](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)]

In [52]:
# Our index
Sales.index

RangeIndex(start=0, stop=340, step=1)

In [53]:
# Rest DATE to Index.

Sales  = Sales.set_index("DATE")

In [54]:
Sales

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

When calling `.resample()` you first need to pass in a **rule** parameter, then you need to call some sort of aggregation function.

The **rule** parameter describes the frequency with which to apply the aggregation function (daily, monthly, yearly, etc.)<br>
It is passed in using an "offset alias" - refer to the table below. [[reference](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases)]

The aggregation function is needed because, due to resampling, we need some sort of mathematical rule to join the rows (mean, sum, count, etc.)

<table style="display: inline-block">
    <caption style="text-align: center"><strong>TIME SERIES OFFSET ALIASES</strong></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>B</td><td>business day frequency</td></tr>
<tr><td>C</td><td>custom business day frequency (experimental)</td></tr>
<tr><td>D</td><td>calendar day frequency</td></tr>
<tr><td>W</td><td>weekly frequency</td></tr>
<tr><td>M</td><td>month end frequency</td></tr>
<tr><td>SM</td><td>semi-month end frequency (15th and end of month)</td></tr>
<tr><td>BM</td><td>business month end frequency</td></tr>
<tr><td>CBM</td><td>custom business month end frequency</td></tr>
<tr><td>MS</td><td>month start frequency</td></tr>
<tr><td>SMS</td><td>semi-month start frequency (1st and 15th)</td></tr>
<tr><td>BMS</td><td>business month start frequency</td></tr>
<tr><td>CBMS</td><td>custom business month start frequency</td></tr>
<tr><td>Q</td><td>quarter end frequency</td></tr>
<tr><td></td><td><font color=blue>intentionally left blank</font></td></tr></table>

<table style="display: inline-block; margin-left: 40px">
<caption style="text-align: center"></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>BQ</td><td>business quarter endfrequency</td></tr>
<tr><td>QS</td><td>quarter start frequency</td></tr>
<tr><td>BQS</td><td>business quarter start frequency</td></tr>
<tr><td>A</td><td>year end frequency</td></tr>
<tr><td>BA</td><td>business year end frequency</td></tr>
<tr><td>AS</td><td>year start frequency</td></tr>
<tr><td>BAS</td><td>business year start frequency</td></tr>
<tr><td>BH</td><td>business hour frequency</td></tr>
<tr><td>H</td><td>hourly frequency</td></tr>
<tr><td>T, min</td><td>minutely frequency</td></tr>
<tr><td>S</td><td>secondly frequency</td></tr>
<tr><td>L, ms</td><td>milliseconds</td></tr>
<tr><td>U, us</td><td>microseconds</td></tr>
<tr><td>N</td><td>nanoseconds</td></tr></table>

Resampling rule 'A' takes all of the data points in a given year, applies the aggregation function (in this case we calculate the mean), and reports the result as the last day of that year. Note 2020 in this data set was not complete.

In [56]:
# yearly Means
Sales.resample(rule = 'A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

# .dt Method Calls

once a column or index is ina datetime format ,you can call a variey of methods off of the .dt library inside pandas :

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

In [59]:
Sales = Sales.reset_index()

In [60]:
Sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [62]:
 help(Sales['DATE'].dt)

Help on DatetimeProperties in module pandas.core.indexes.accessors object:

class DatetimeProperties(Properties)
 |  DatetimeProperties(data: 'Series', orig)
 |
 |  Accessor object for datetimelike properties of the Series values.
 |
 |  Examples
 |  --------
 |  >>> seconds_series = pd.Series(pd.date_range("2000-01-01", periods=3, freq="s"))
 |  >>> seconds_series
 |  0   2000-01-01 00:00:00
 |  1   2000-01-01 00:00:01
 |  2   2000-01-01 00:00:02
 |  dtype: datetime64[ns]
 |  >>> seconds_series.dt.second
 |  0    0
 |  1    1
 |  2    2
 |  dtype: int64
 |
 |  >>> hours_series = pd.Series(pd.date_range("2000-01-01", periods=3, freq="h"))
 |  >>> hours_series
 |  0   2000-01-01 00:00:00
 |  1   2000-01-01 01:00:00
 |  2   2000-01-01 02:00:00
 |  dtype: datetime64[ns]
 |  >>> hours_series.dt.hour
 |  0    0
 |  1    1
 |  2    2
 |  dtype: int64
 |
 |  >>> quarters_series = pd.Series(pd.date_range("2000-01-01", periods=3, freq="q"))
 |  >>> quarters_series
 |  0   2000-03-31
 |  1   2000-06-30
 |  2   2000-09-30
 |  dtype: datetime64[ns]
 |  >>> quarters_series.dt.quarter
 |  0    1
 |  1    2
 |  2    3
 |  dtype: int64
 |
 |  Returns a Series indexed like the original Series.
 |  Raises TypeError if the Series does not contain datetimelike values.
 |
 |  Method resolution order:
 |      DatetimeProperties
 |      Properties
 |      pandas.core.accessor.PandasDelegate
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.NoNewAttributesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  ceil(self, *args, **kwargs)
 |      Perform ceil operation on the data to the specified `freq`.
 |
 |      Parameters
 |      ----------
 |      freq : str or Offset
 |          The frequency level to ceil the index to. Must be a fixed
 |          frequency like 'S' (second) not 'ME' (month end). See
 |          :ref:`frequency aliases <timeseries.offset_aliases>` for
 |          a list of possible `freq` values.
 |      ambiguous : 'infer', bool-ndarray, 'NaT', default 'raise'
 |          Only relevant for DatetimeIndex:
 |
 |          - 'infer' will attempt to infer fall dst-transition hours based on
 |            order
 |          - bool-ndarray where True signifies a DST time, False designates
 |            a non-DST time (note that this flag is only applicable for
 |            ambiguous times)
 |          - 'NaT' will return NaT where there are ambiguous times
 |          - 'raise' will raise an AmbiguousTimeError if there are ambiguous
 |            times.
 |
 |      nonexistent : 'shift_forward', 'shift_backward', 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Returns
 |      -------
 |      DatetimeIndex, TimedeltaIndex, or Series
 |          Index of the same type for a DatetimeIndex or TimedeltaIndex,
 |          or a Series with the same index for a Series.
 |
 |      Raises
 |      ------
 |      ValueError if the `freq` cannot be converted.
 |
 |      Notes
 |      -----
 |      If the timestamps have a timezone, ceiling will take place relative to the
 |      local ("wall") time and re-localized to the same timezone. When ceiling
 |      near daylight savings time, use ``nonexistent`` and ``ambiguous`` to
 |      control the re-localization behavior.
 |
 |      Examples
 |      --------
 |      **DatetimeIndex**
 |
 |      >>> rng = pd.date_range('1/1/2018 11:59:00', periods=3, freq='min')
 |      >>> rng
 |      DatetimeIndex(['2018-01-01 11:59:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:01:00'],
 |                    dtype='datetime64[ns]', freq='T')
 |      >>> rng.ceil('H')
 |      DatetimeIndex(['2018-01-01 12:00:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 13:00:00'],
 |                    dtype='datetime64[ns]', freq=None)
 |
 |      **Series**
 |
 |      >>> pd.Series(rng).dt.ceil("H")
 |      0   2018-01-01 12:00:00
 |      1   2018-01-01 12:00:00
 |      2   2018-01-01 13:00:00
 |      dtype: datetime64[ns]
 |
 |      When rounding near a daylight savings time transition, use ``ambiguous`` or
 |      ``nonexistent`` to control how the timestamp should be re-localized.
 |
 |      >>> rng_tz = pd.DatetimeIndex(["2021-10-31 01:30:00"], tz="Europe/Amsterdam")
 |
 |      >>> rng_tz.ceil("H", ambiguous=False)
 |      DatetimeIndex(['2021-10-31 02:00:00+01:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |      >>> rng_tz.ceil("H", ambiguous=True)
 |      DatetimeIndex(['2021-10-31 02:00:00+02:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |  day_name(self, *args, **kwargs)
 |      Return the day names of the :class:`~pandas.Series` or
 |      :class:`~pandas.DatetimeIndex` with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : str, optional
 |          Locale determining the language in which to return the day name.
 |          Default is English locale.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Series or Index of day names.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(pd.date_range(start='2018-01-01', freq='D', periods=3))
 |      >>> s
 |      0   2018-01-01
 |      1   2018-01-02
 |      2   2018-01-03
 |      dtype: datetime64[ns]
 |      >>> s.dt.day_name()
 |      0       Monday
 |      1      Tuesday
 |      2    Wednesday
 |      dtype: object
 |
 |      >>> idx = pd.date_range(start='2018-01-01', freq='D', periods=3)
 |      >>> idx
 |      DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03'],
 |                    dtype='datetime64[ns]', freq='D')
 |      >>> idx.day_name()
 |      Index(['Monday', 'Tuesday', 'Wednesday'], dtype='object')
 |
 |  floor(self, *args, **kwargs)
 |      Perform floor operation on the data to the specified `freq`.
 |
 |      Parameters
 |      ----------
 |      freq : str or Offset
 |          The frequency level to floor the index to. Must be a fixed
 |          frequency like 'S' (second) not 'ME' (month end). See
 |          :ref:`frequency aliases <timeseries.offset_aliases>` for
 |          a list of possible `freq` values.
 |      ambiguous : 'infer', bool-ndarray, 'NaT', default 'raise'
 |          Only relevant for DatetimeIndex:
 |
 |          - 'infer' will attempt to infer fall dst-transition hours based on
 |            order
 |          - bool-ndarray where True signifies a DST time, False designates
 |            a non-DST time (note that this flag is only applicable for
 |            ambiguous times)
 |          - 'NaT' will return NaT where there are ambiguous times
 |          - 'raise' will raise an AmbiguousTimeError if there are ambiguous
 |            times.
 |
 |      nonexistent : 'shift_forward', 'shift_backward', 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Returns
 |      -------
 |      DatetimeIndex, TimedeltaIndex, or Series
 |          Index of the same type for a DatetimeIndex or TimedeltaIndex,
 |          or a Series with the same index for a Series.
 |
 |      Raises
 |      ------
 |      ValueError if the `freq` cannot be converted.
 |
 |      Notes
 |      -----
 |      If the timestamps have a timezone, flooring will take place relative to the
 |      local ("wall") time and re-localized to the same timezone. When flooring
 |      near daylight savings time, use ``nonexistent`` and ``ambiguous`` to
 |      control the re-localization behavior.
 |
 |      Examples
 |      --------
 |      **DatetimeIndex**
 |
 |      >>> rng = pd.date_range('1/1/2018 11:59:00', periods=3, freq='min')
 |      >>> rng
 |      DatetimeIndex(['2018-01-01 11:59:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:01:00'],
 |                    dtype='datetime64[ns]', freq='T')
 |      >>> rng.floor('H')
 |      DatetimeIndex(['2018-01-01 11:00:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:00:00'],
 |                    dtype='datetime64[ns]', freq=None)
 |
 |      **Series**
 |
 |      >>> pd.Series(rng).dt.floor("H")
 |      0   2018-01-01 11:00:00
 |      1   2018-01-01 12:00:00
 |      2   2018-01-01 12:00:00
 |      dtype: datetime64[ns]
 |
 |      When rounding near a daylight savings time transition, use ``ambiguous`` or
 |      ``nonexistent`` to control how the timestamp should be re-localized.
 |
 |      >>> rng_tz = pd.DatetimeIndex(["2021-10-31 03:30:00"], tz="Europe/Amsterdam")
 |
 |      >>> rng_tz.floor("2H", ambiguous=False)
 |      DatetimeIndex(['2021-10-31 02:00:00+01:00'],
 |                   dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |      >>> rng_tz.floor("2H", ambiguous=True)
 |      DatetimeIndex(['2021-10-31 02:00:00+02:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |  isocalendar(self)
 |      Calculate year, week, and day according to the ISO 8601 standard.
 |
 |      .. versionadded:: 1.1.0
 |
 |      Returns
 |      -------
 |      DataFrame
 |          With columns year, week and day.
 |
 |      See Also
 |      --------
 |      Timestamp.isocalendar : Function return a 3-tuple containing ISO year,
 |          week number, and weekday for the given Timestamp object.
 |      datetime.date.isocalendar : Return a named tuple object with
 |          three components: year, week and weekday.
 |
 |      Examples
 |      --------
 |      >>> ser = pd.to_datetime(pd.Series(["2010-01-01", pd.NaT]))
 |      >>> ser.dt.isocalendar()
 |         year  week  day
 |      0  2009    53     5
 |      1  <NA>  <NA>  <NA>
 |      >>> ser.dt.isocalendar().week
 |      0      53
 |      1    <NA>
 |      Name: week, dtype: UInt32
 |
 |  month_name(self, *args, **kwargs)
 |      Return the month names of the :class:`~pandas.Series` or
 |      :class:`~pandas.DatetimeIndex` with specified locale.
 |
 |      Parameters
 |      ----------
 |      locale : str, optional
 |          Locale determining the language in which to return the month name.
 |          Default is English locale.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Series or Index of month names.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(pd.date_range(start='2018-01', freq='M', periods=3))
 |      >>> s
 |      0   2018-01-31
 |      1   2018-02-28
 |      2   2018-03-31
 |      dtype: datetime64[ns]
 |      >>> s.dt.month_name()
 |      0     January
 |      1    February
 |      2       March
 |      dtype: object
 |
 |      >>> idx = pd.date_range(start='2018-01', freq='M', periods=3)
 |      >>> idx
 |      DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31'],
 |                    dtype='datetime64[ns]', freq='M')
 |      >>> idx.month_name()
 |      Index(['January', 'February', 'March'], dtype='object')
 |
 |  normalize(self, *args, **kwargs)
 |      Convert times to midnight.
 |
 |      The time component of the date-time is converted to midnight i.e.
 |      00:00:00. This is useful in cases, when the time does not matter.
 |      Length is unaltered. The timezones are unaffected.
 |
 |      This method is available on Series with datetime values under
 |      the ``.dt`` accessor, and directly on Datetime Array/Index.
 |
 |      Returns
 |      -------
 |      DatetimeArray, DatetimeIndex or Series
 |          The same type as the original data. Series will have the same
 |          name and index. DatetimeIndex will have the same name.
 |
 |      See Also
 |      --------
 |      floor : Floor the datetimes to the specified freq.
 |      ceil : Ceil the datetimes to the specified freq.
 |      round : Round the datetimes to the specified freq.
 |
 |      Examples
 |      --------
 |      >>> idx = pd.date_range(start='2014-08-01 10:00', freq='H',
 |      ...                     periods=3, tz='Asia/Calcutta')
 |      >>> idx
 |      DatetimeIndex(['2014-08-01 10:00:00+05:30',
 |                     '2014-08-01 11:00:00+05:30',
 |                     '2014-08-01 12:00:00+05:30'],
 |                      dtype='datetime64[ns, Asia/Calcutta]', freq='H')
 |      >>> idx.normalize()
 |      DatetimeIndex(['2014-08-01 00:00:00+05:30',
 |                     '2014-08-01 00:00:00+05:30',
 |                     '2014-08-01 00:00:00+05:30'],
 |                     dtype='datetime64[ns, Asia/Calcutta]', freq=None)
 |
 |  round(self, *args, **kwargs)
 |      Perform round operation on the data to the specified `freq`.
 |
 |      Parameters
 |      ----------
 |      freq : str or Offset
 |          The frequency level to round the index to. Must be a fixed
 |          frequency like 'S' (second) not 'ME' (month end). See
 |          :ref:`frequency aliases <timeseries.offset_aliases>` for
 |          a list of possible `freq` values.
 |      ambiguous : 'infer', bool-ndarray, 'NaT', default 'raise'
 |          Only relevant for DatetimeIndex:
 |
 |          - 'infer' will attempt to infer fall dst-transition hours based on
 |            order
 |          - bool-ndarray where True signifies a DST time, False designates
 |            a non-DST time (note that this flag is only applicable for
 |            ambiguous times)
 |          - 'NaT' will return NaT where there are ambiguous times
 |          - 'raise' will raise an AmbiguousTimeError if there are ambiguous
 |            times.
 |
 |      nonexistent : 'shift_forward', 'shift_backward', 'NaT', timedelta, default 'raise'
 |          A nonexistent time does not exist in a particular timezone
 |          where clocks moved forward due to DST.
 |
 |          - 'shift_forward' will shift the nonexistent time forward to the
 |            closest existing time
 |          - 'shift_backward' will shift the nonexistent time backward to the
 |            closest existing time
 |          - 'NaT' will return NaT where there are nonexistent times
 |          - timedelta objects will shift nonexistent times by the timedelta
 |          - 'raise' will raise an NonExistentTimeError if there are
 |            nonexistent times.
 |
 |      Returns
 |      -------
 |      DatetimeIndex, TimedeltaIndex, or Series
 |          Index of the same type for a DatetimeIndex or TimedeltaIndex,
 |          or a Series with the same index for a Series.
 |
 |      Raises
 |      ------
 |      ValueError if the `freq` cannot be converted.
 |
 |      Notes
 |      -----
 |      If the timestamps have a timezone, rounding will take place relative to the
 |      local ("wall") time and re-localized to the same timezone. When rounding
 |      near daylight savings time, use ``nonexistent`` and ``ambiguous`` to
 |      control the re-localization behavior.
 |
 |      Examples
 |      --------
 |      **DatetimeIndex**
 |
 |      >>> rng = pd.date_range('1/1/2018 11:59:00', periods=3, freq='min')
 |      >>> rng
 |      DatetimeIndex(['2018-01-01 11:59:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:01:00'],
 |                    dtype='datetime64[ns]', freq='T')
 |      >>> rng.round('H')
 |      DatetimeIndex(['2018-01-01 12:00:00', '2018-01-01 12:00:00',
 |                     '2018-01-01 12:00:00'],
 |                    dtype='datetime64[ns]', freq=None)
 |
 |      **Series**
 |
 |      >>> pd.Series(rng).dt.round("H")
 |      0   2018-01-01 12:00:00
 |      1   2018-01-01 12:00:00
 |      2   2018-01-01 12:00:00
 |      dtype: datetime64[ns]
 |
 |      When rounding near a daylight savings time transition, use ``ambiguous`` or
 |      ``nonexistent`` to control how the timestamp should be re-localized.
 |
 |      >>> rng_tz = pd.DatetimeIndex(["2021-10-31 03:30:00"], tz="Europe/Amsterdam")
 |
 |      >>> rng_tz.floor("2H", ambiguous=False)
 |      DatetimeIndex(['2021-10-31 02:00:00+01:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |      >>> rng_tz.floor("2H", ambiguous=True)
 |      DatetimeIndex(['2021-10-31 02:00:00+02:00'],
 |                    dtype='datetime64[ns, Europe/Amsterdam]', freq=None)
 |
 |  strftime(self, *args, **kwargs)
 |      Convert to Index using specified date_format.
 |
 |      Return an Index of formatted strings specified by date_format, which
 |      supports the same string format as the python standard library. Details
 |      of the string format can be found in `python string format
 |      doc <https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior>`__.
 |
 |      Parameters
 |      ----------
 |      date_format : str
 |          Date format string (e.g. "%Y-%m-%d").
 |
 |      Returns
 |      -------
 |      ndarray[object]
 |          NumPy ndarray of formatted strings.
 |
 |      See Also
 |      --------
 |      to_datetime : Convert the given argument to datetime.
 |      DatetimeIndex.normalize : Return DatetimeIndex with times to midnight.
 |      DatetimeIndex.round : Round the DatetimeIndex to the specified freq.
 |      DatetimeIndex.floor : Floor the DatetimeIndex to the specified freq.
 |
 |      Examples
 |      --------
 |      >>> rng = pd.date_range(pd.Timestamp("2018-03-10 09:00"),
 |      ...                     periods=3, freq='s')
 |      >>> rng.strftime('%B %d, %Y, %r')
 |      Index(['March 10, 2018, 09:00:00 AM', 'March 10, 2018, 09:00:01 AM',
 |             'March 10, 2018, 09:00:02 AM'],
 |            dtype='object')
 |
 |  to_period(self, *args, **kwargs)
 |      Cast to PeriodArray/Index at a particular frequency.
 |
 |      Converts DatetimeArray/Index to PeriodArray/Index.
 |
 |      Parameters
 |      ----------
 |      freq : str or Offset, optional
 |          One of pandas' :ref:`offset strings <timeseries.offset_aliases>`
 |          or an Offset object. Will be inferred by default.
 |
 |      Returns
 |      -------
 |      PeriodArray/Index
 |
 |      Raises
 |      ------
 |      ValueError
 |          When converting a DatetimeArray/Index with non-regular values,
 |          so that a frequency cannot be inferred.
 |
 |      See Also
 |      --------
 |      PeriodIndex: Immutable ndarray holding ordinal values.
 |      DatetimeIndex.to_pydatetime: Return DatetimeIndex as object.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({"y": [1, 2, 3]},
 |      ...                   index=pd.to_datetime(["2000-03-31 00:00:00",
 |      ...                                         "2000-05-31 00:00:00",
 |      ...                                         "2000-08-31 00:00:00"]))
 |      >>> df.index.to_period("M")
 |      PeriodIndex(['2000-03', '2000-05', '2000-08'],
 |                  dtype='period[M]')
 |
 |      Infer the daily frequency
 |
 |      >>> idx = pd.date_range("2017-01-01", periods=2)
 |      >>> idx.to_period()
 |      PeriodIndex(['2017-01-01', '2017-01-02'],
 |                  dtype='period[D]')
 |
 |  to_pydatetime(self) -> 'np.ndarray'
 |      Return the data as an array of :class:`datetime.datetime` objects.
 |

In [64]:
Sales['DATE'].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int64

In [67]:
Sales['DATE'].dt.is_leap_year

0       True
1       True
2       True
3       True
4       True
       ...
335    False
336     True
337     True
338     True
339     True
Name: DATE, Length: 340, dtype: bool

In [76]:
Sales['DATE'].dt.freq

'MS'

In [ ]:
x = int(input("enter the number of dollers:"))

x = x+i

# the value of x is multiplies with 2.2% /24 .then it adds to x and new is again multiplie to 2.2% /24 .coninuesly.

In [ ]:
if x

In [ ]:
def mining():
    x = int(input("enter the number of dollers:"))
    x = x+i
    i=x*(2.2/100)/24
    if i < 0.1:
        i = i*2
        return x+i
        
    elif i > 0.1:
        x = x+i        
        return x

In [ ]:
i

In [ ]:
mining()

In [ ]:
x = 68.82092
i = 0.09166666666666667/100
y = x*i
y

In [ ]:
y = x*i
y
if y > 0.1:
    x = x+y
    print(x)
elif y > 0.05:
    y1 = y*2
    x = x+y1
    print(x)

In [ ]:
y

In [ ]:
y1